@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h4>AspnetRun run-code Repository</h4>

<p>
    You can check repository pages in here <strong><a asp-page="/Product/Index">Products</a></strong> and <strong><a asp-page="/Category/Index">Categories</a></strong>.
</p>

<p>
    A starter kit for your next web application. Boilerplate for ASP.NET Core reference application with Entity Framework Core, demonstrating a layered application architecture with DDD best practices.
</p>

<p>
    You can check full documentation and step by step development of 100+ page eBook PDF from here -  <strong><a href="http://www.aspnetrun.com/Book">http://www.aspnetrun.com/Book</a></strong>
</p>

<p>
    ASP.NET Run is a general purpose starter kit application specially designed for new modern web applications. It uses already familiar tools and implements best practices around them to provide you a SOLID development experience. This repository focused on traditional Web Application Development with a single deployment.
</p>

<p>
    The goal for this boilerplate is to demonstrate some of the principles and patterns described in the eBook. Also there is a sample project which is implemented this repository and build sample of eCommerce reference application, you can check this repo in this location : <strong><a href="https://github.com/aspnetrun/run-core-sample">run-core-sample</a></strong>
</p>    
