@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h4>AspnetRun run-code Repository</h4>

<p>
    You can check repository pages in here <strong><a asp-page="/Product/Index">Products</a></strong> and <strong><a asp-page="/Category/Index">Categories</a></strong>.    
</p>

